@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    display: flex;
    position: absolute;
    top: 0;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    background-color: hsl(30, 38%, 92%)
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
.containers{
    display:flex;
    justify-content: center;
    position: absolute;
    background: white;
    width: 700px;
    border-radius: 15px;
    flex-direction: row;
}

.right_container{
    display: flex;
    flex-direction: column;
}

.left_container{
    display: flex;
}

.right_container, .left_container{
    flex: 1;
}

.A{
    font-family: 'Fraunces', serif;
    padding-left: 40px;
}

.perfume{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    padding: 40px;
}

.text{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    padding: 40px;
    font-size: 14px;
}

.product{ 
    width:100%;
    flex-grow: 1;
    border-radius: 15px 0 0 15px;
    display: flex;
}

.mobile{
    display: none;
}

.prices{
    display: flex;
}

.new{
    color:hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 35px;
    padding-left: 40px;
}

.old{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    padding-left: 30px;
    padding-top: 15px;
   
}

.botao{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.btn{
    text-align: center;
    background-color: hsl(158, 36%, 37%);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    width: 80%;
}

.icon{
    margin-right: 15px;
}

.btn:hover{
    background-color: hsl(158, 24%, 18%)
}

a{
    text-decoration: none;
    color: white;
}

@media (max-width: 700px){
    

    .containers{
        display:flex;
        flex-direction: column;
        justify-content: start;
        position: absolute;
        background: white;
        width: 340px;
        height: 620px;
        border-radius: 15px;
    }

    .left_container, .right_container{ 
        flex: 0;
    }

    .right_container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    
    .left_container{
        display: flex;
    }
    
    .A{
        font-family: 'Fraunces', serif;
        padding-left: 25px;
    }
    
    .perfume{
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 5px;
        color: hsl(228, 12%, 48%);
        font-size: 14px;
        padding-left: 25px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .text{
        color: hsl(228, 12%, 48%);
        font-family: 'Montserrat', sans-serif;
        line-height: 1.7;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 14px;
    }
    
    .product{
        display: none;
    }

    .mobile{
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    
    .prices{
        display: flex;
    }
    
    .new{
        color:hsl(158, 36%, 37%);
        font-family: 'Fraunces', serif;
        font-size: 35px;
        padding-left: 40px;
    }
    
    .old{
        color: hsl(228, 12%, 48%);
        text-decoration: line-through;
        padding-left: 30px;
        padding-top: 15px;
       
    }
    
    .botao{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
    }
    
    .btn{
        text-align: center;
        background-color: hsl(158, 36%, 37%);
        border-style: none;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        font-family: 'Montserrat', sans-serif;
        padding: 15px;
        width: 80%;
    }
    
    .icon{
        margin-right: 15px;
    }
    
    .btn:hover{
        background-color: hsl(158, 24%, 18%)
    }
}